BODY 
	{
	FONT-FAMILY: 'ו', 'serif'; 
	FONT-SIZE: 11pt; 
	margin: 0px;
	padding: 0px;border: none;
	SCROLLBAR-FACE-COLOR: #333333;
	SCROLLBAR-HIGHLIGHT-COLOR: #ECE9D8;
	SCROLLBAR-SHADOW-COLOR: #ECE9D8;
	SCROLLBAR-3DLIGHT-COLOR: #ECE9D8;
	SCROLLBAR-ARROW-COLOR: #ECE9D8;
	SCROLLBAR-TRACK-COLOR: #ECE9D8;
	SCROLLBAR-DARKSHADOW-COLOR: #ECE9D8;
	}
		TD , INPUT , TEXTAREA {FONT-FAMILY: 'ו', 'serif'; FONT-SIZE: 11pt}
		A:link {COLOR: #770077; TEXT-DECORATION: none}
		A:visited {COLOR: #770077; TEXT-DECORATION: none}
		A:active {COLOR: #770077; TEXT-DECORATION: none}
		A:hover {COLOR: #770077; TEXT-DECORATION: none}

		.box
		{
			BORDER-TOP: buttonshadow 1px solid;
			BORDER-BOTTOM: buttonshadow 1px solid;
			BORDER-LEFT: buttonshadow 1px solid;
			BORDER-RIGHT: buttonshadow 1px solid;
		}
		.boxs
		{
			BORDER-TOP: buttonshadow 1px solid;
			BORDER-BOTTOM: buttonhighlight 1px solid;
			BORDER-LEFT: buttonshadow 1px solid;
			BORDER-RIGHT: buttonhighlight 1px solid;
		}
		.TSC {
			BORDER-RIGHT: #3333ff 0px solid; 
			BORDER-TOP: #3333ff 0px solid; SCROLLBAR-FACE-COLOR: #7aa1e6; SCROLLBAR-HIGHLIGHT-COLOR: #7aa1e6; 
			BORDER-LEFT: #3333ff 0px solid; SCROLLBAR-SHADOW-COLOR: #7aa1e6; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #7aa1e6; 
			BORDER-BOTTOM: #3333ff 1px solid; SCROLLBAR-DARKSHADOW-COLOR: #000000; SCROLLBAR-BASE-COLOR: #ffffff; 
			BACKGROUND-COLOR: #ffffff
			}
		.p1 {
			margin-top: -7px!Important;
			margin-top:-1px;
			}
		.p1 input {
			color: #0000FF;
			}
			.menu1 {
	background-image: url(./../images/tree/folder1.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 32px;
	padding-left: 32px;
	cursor: hand;
}
.menu2 {
	background-image: url(./../images/tree/folder2.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 32px;
	padding-left: 32px;
	cursor: hand;
}
.menu3 {
	background-image: url(./../images/tree/folder3.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 32px;
	padding-left: 32px;
	cursor: hand;
}
.menu4 {
	background-image: url(./../images/tree/folder4.gif);
	background-repeat: no-repeat;
	height: 17px;
	left: 32px;
	padding-left: 32px;
	cursor: hand;
}
.list {
	padding-left: 20px;
	background-image: url(./../images/tree/list.gif);
	background-repeat: repeat-y;
}
.list1 {
	padding-left: 20px;
}
.file {
	background-image: url(./../images/tree/file.gif);
	background-repeat: no-repeat;
	height: 16px;
	cursor: hand;
	padding-left: 32px;
}
.file1 {
	background-image: url(./../images/tree/file1.gif);
	background-repeat: no-repeat;
	height: 16px;
	cursor: hand;
	padding-left: 32px;
}